<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TechFlix</title>
  <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/cyborg/bulmaswatch.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/bulma.js" async></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <style>
    .input {
      background-color: black;
      color: white;
    }
    .card {
      background-color: black;
    }
  </style>
</head>

<body>
  <div id="app">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <h1 class="title"><span style="color: red">TechFlix</span></h1>
          </a>
        </div>

        <div class="navbar-menu is-active">
          <div class="navbar-end">

            <div class="field has-addons navbar-item is-expanded">
              <div class="control is-expanded">
                <input class="input is-fullwidth" v-model="search" type="text" placeholder="Search">
              </div>
              <div class="control">
                <a class="button">
                  <i class="fas fa-search"></i>
                </a>
              </div>
            </div>

          </div>
        </div>

    </nav>

    <div style="padding: 2px">
      <div class="columns is-multiline">
        <div class="column is-one-fifth" v-for="video in filtered_videos" v-bind:key="video.id">
          <div class="card">
            <div class="card-image" :title="video.title">
              <figure class="image is-4by3">
                <a :href="'https://www.youtube.com/watch?v=' + video.id"><img :src="video.thumbnail_url"
                    :title="video.title" :alt="video.title"></a>
              </figure>
            </div>
            <div class="card-content" style="min-height: 120px">
              {{ video.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        videos: [],
        search: '',
      },
      created() {
        fetch('/videos.json')
          .then(response => response.json())
          .then(json => {
            this.videos = json
          })
      },
      computed: {
        filtered_videos() {
          return this.videos.filter(video => {
            return video.title.toLowerCase().includes(this.search.toLowerCase())
          })
        },
      },
      filters: {
        moment: function (date) {
          return moment(date).format('DD. MMM YYYY');
        }
      }
    })
  </script>
</body>

</html>
